.tnav .logo a, .homesearch .logo a, .icon-home-s-24, .icon-home-w-s-24, .icon-timeline-s-24, .icon-timeline-w-s-24, .icon-needs-s-24, .icon-needs-w-s-24, .icon-message-s-24, .icon-message-w-s-24, .icon-notification-s-24, .icon-notification-w-s-24, .icon-search-w-s-18, .icon-dropdown-th-w-s-22, .icon-fbmatch-s-20, .icon-frecom-s-20, .icon-star-s-20, .icon-star-l-w-s-20, .icon-location-s-20, .icon-recommend-b-s-21, .icon-5-star-s-19, .icon-4-half-star-s-19, .icon-4-star-s-19, .icon-3-half-star-s-19, .icon-3-star-s-19, .icon-2-half-star-s-19, .icon-2-star-s-19, .icon-1-half-star-s-19, .icon-1-star-s-19, .icon-place-s-16, .icon-location-s-16, .icon-phone-s-16, .flw-icon-15, .flw-icon-12, .icon-recommend-b-s-19, .icon-place-s-14, .icon-5-star-s-15, .icon-4-half-star-s-15, .icon-4-star-s-15, .icon-3-half-star-s-15, .icon-3-star-s-15, .icon-2-half-star-s-15, .icon-2-star-s-15, .icon-1-half-star-s-15, .icon-1-star-s-15, .icon-dropdown-t-s-20, .response-like .icon-response-s-22, .response-funny .icon-response-s-22, .response-comment .icon-response-s-22, .response-rec .icon-response-s-22, .response-like .icon-response-s-22-a, .response-funny .icon-response-s-22-a, .response-comment .icon-response-s-22-a, .response-rec .icon-response-s-22-a, .response-more .icon-response-s-22, .response-reshare .icon-response-s-22, .response-reshare .icon-response-s-22-a, .comment-form-group .reply-button .icon-button-inner-s-24, .comment-form-group .recommend-button .icon-button-inner-s-24, .icon-location-f-s-19, .icon-need-f-s-19, .icon-pencil-w-s-38, caret, .open caret, .closed caret, .icon-list-w-s-20, .icon-search-s-24, .ticon, .active .ticon.icon-needs-s-24, .icon-place-s-24, .icon-cam-s-24, .icon-settings-s-20, .icon-newmesage-s-20, .icon-caret-l-s-20, .icon-flag-s-14, .icon-delete-s-14, .icon-attach-s-24, .icon-notify-like-s-16, .icon-like-a-s-16, .icon-notify-reshare-s-16, .icon-reshare-a-s-16, .icon-notify-funny-s-16, .icon-funny-a-s-16, .icon-notify-reply-s-16, .icon-notify-need-s-16, .icon-notify-recommend-s-16, .icon-notify-follow-s-16, .icon-follow-s-16, .icon-notify-review-s-16, .icon-notify-edit-s-16, .icon-message-l-w-s-25, .icon-location-w-s-25, .flw-icon-20, .profile-rec .profile-rec-icon, .profile-rec-a .profile-rec-icon, .icon-post-s-16, .icon-star-s-16, .icon-recommend-s-16, .icon-place-w-s-16, .icon-phone-w-s-16, .icon-web-w-s-16, .mes-search-gp-button-icon, .m-f-b, .ph-icon-inner, .ph-icon-inner, .un-group-rec-icon{
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), 
only screen and (min--moz-device-pixel-ratio: 1.5), 
only screen and (min-resolution: 240dpi) {	
.tnav .logo a, .homesearch .logo a, .icon-home-s-24, .icon-home-w-s-24, .icon-timeline-s-24, .icon-timeline-w-s-24, .icon-needs-s-24, .icon-needs-w-s-24, .icon-message-s-24, .icon-message-w-s-24, .icon-notification-s-24, .icon-notification-w-s-24, .icon-search-w-s-18, .icon-dropdown-th-w-s-22, .icon-fbmatch-s-20, .icon-frecom-s-20, .icon-star-s-20, .icon-star-l-w-s-20, .icon-location-s-20, .icon-recommend-b-s-21, .icon-5-star-s-19, .icon-4-half-star-s-19, .icon-4-star-s-19, .icon-3-half-star-s-19, .icon-3-star-s-19, .icon-2-half-star-s-19, .icon-2-star-s-19, .icon-1-half-star-s-19, .icon-1-star-s-19, .icon-place-s-16, .icon-location-s-16, .icon-phone-s-16, .flw-icon-15, .flw-icon-12, .icon-recommend-b-s-19, .icon-place-s-14, .icon-5-star-s-15, .icon-4-half-star-s-15, .icon-4-star-s-15, .icon-3-half-star-s-15, .icon-3-star-s-15, .icon-2-half-star-s-15, .icon-2-star-s-15, .icon-1-half-star-s-15, .icon-1-star-s-15, .icon-dropdown-t-s-20, .response-like .icon-response-s-22, .response-funny .icon-response-s-22, .response-comment .icon-response-s-22, .response-rec .icon-response-s-22, .response-like .icon-response-s-22-a, .response-funny .icon-response-s-22-a, .response-comment .icon-response-s-22-a, .response-rec .icon-response-s-22-a, .response-more .icon-response-s-22, .comment-form-group .reply-button .icon-button-inner-s-24, .comment-form-group .recommend-button .icon-button-inner-s-24, .icon-location-f-s-19, .icon-need-f-s-19, .icon-pencil-w-s-38, caret, .open caret, .closed caret, .icon-list-w-s-20, .icon-search-s-24, .ticon, .active .ticon.icon-needs-s-24, .icon-place-s-24, .icon-cam-s-24, .icon-settings-s-20, .icon-newmesage-s-20, .icon-caret-l-s-20, .icon-flag-s-14, .icon-delete-s-14, .icon-attach-s-24, .icon-notify-like-s-16, .icon-like-a-s-16, .icon-notify-funny-s-16, .icon-funny-a-s-16, .icon-notify-reply-s-16, .icon-notify-need-s-16, .icon-notify-recommend-s-16, .icon-notify-follow-s-16, .icon-follow-s-16, .icon-notify-review-s-16, .icon-notify-edit-s-16, .icon-message-l-w-s-25, .icon-location-w-s-25, .flw-icon-20, .profile-rec .profile-rec-icon, .profile-rec-a .profile-rec-icon, .icon-post-s-16, .icon-star-s-16, .icon-recommend-s-16, .icon-place-w-s-16, .icon-phone-w-s-16, .icon-web-w-s-16, .mes-search-gp-button-icon, .m-f-b, .ph-icon-inner, .ph-icon-inner, .un-group-rec-icon{
	background-image: url(../img/sprite@2x.png);
	background-size: 522px 334px;
}
}

.tnav .logo a{
	background-position: -308px -270px;
}
.icon-home-s-24{
	background-position: -470px -6px;
}
.icon-home-w-s-24{
	background-position: -92px -5px;
}
.icon-timeline-s-24{
	background-position: -441px -6px;
}
.icon-timeline-w-s-24{
	background-position: -63px -6px;
}
.icon-needs-s-24{
	background-position: -412px -5px;
}
.icon-needs-w-s-24{
	background-position: -237px -6px;
}
.icon-message-s-24{
	background-position: -382px -5px;
}
.icon-message-w-s-24{
	background-position: -34px -5px;
}
.icon-notification-s-24{
	background-position: -353px -5px;
}
.icon-notification-w-s-24{
	background-position: -5px -5px;
}
.icon-search-w-s-18{
	background-position: -497px -35px;
}
.icon-dropdown-th-w-s-22{
	background-position: -318px -136px;
}
.icon-fbmatch-s-20{
	background-position: -445px -81px;
}
.icon-frecom-s-20{
	background-position: -420px -81px;
}
.icon-star-s-20{
	background-position: -395px -82px;
}
.icon-star-l-w-s-20{
	background-position: -175px -82px;
}
.icon-location-s-20{
	background-position: -370px -81px;
}
.icon-recommend-b-s-21{
	background-position: -345px -135px;
}
.icon-5-star-s-19{
	background-position: -97px -223px;
}
.icon-4-half-star-s-19{
	background-position: -203px -222px;
}
.icon-4-star-s-19{
	background-position: -309px -223px;
}
.icon-3-half-star-s-19{
	background-position: -415px -222px;
}
.icon-3-star-s-19{
	background-position: -97px -198px;
}
.icon-2-half-star-s-19{
	background-position: -203px -199px;
}
.icon-2-star-s-19{
	background-position: -309px -198px;
}
.icon-1-half-star-s-19{
	background-position: -415px -199px;
}
.icon-1-star-s-19{
	background-position: -183px -174px;
}
.icon-place-s-16{
	background-position: -497px -57px;
}
.icon-location-s-16{
	background-position: -476px -57px;
}
.icon-phone-s-16{
	background-position: -455px -57px;
}
.follow-button .flw-icon-15{
	background-position: -392px -135px;
}
.follow-button-a .flw-icon-15{
	background-position: -412px -135px;
}
.follow-button-a:hover .flw-icon-15, .follow-button-a:focus .flw-icon-15, .follow-button-a:active .flw-icon-15{
	background-position: -372px -136px;
}
.follow-button .flw-icon-12{
	background-position: -465px -81px;
}
.follow-button-a .flw-icon-12{
	background-position: -499px -82px;
}
.follow-button-a:hover .flw-icon-12, .follow-button-a:focus .flw-icon-12, .follow-button-a:active .flw-icon-12{
	background-position: -482px -81px;
}
.icon-recommend-b-s-19{
	background-position: -55px -58px;
}
.icon-place-s-14{
	background-position: -496px -118px;
}
.icon-5-star-s-15{
	background-position: -436px -270px;
}
.icon-4-half-star-s-15{
	background-position: -6px -247px;
}
.icon-4-star-s-15{
	background-position: -95px -247px;
}
.icon-3-half-star-s-15{
	background-position: -180px -247px;
}
.icon-3-star-s-15{
	background-position: -265px -247px;
}
.icon-2-half-star-s-15{
	background-position: -350px -248px;
}
.icon-2-star-s-15{
	background-position: -435px -249px;
}
.icon-1-half-star-s-15{
	background-position: -6px -223px;
}
.icon-1-star-s-15{
	background-position: -5px -199px;
}
.icon-dropdown-t-s-20{
	background-position: -345px -82px;
}
.response-like .icon-response-s-22{
	background-position: -156px -160px;
}
.response-reshare .icon-response-s-22{
	background-position: -371px -155px;
}
.response-funny .icon-response-s-22{
	background-position: -129px -159px;
}
.response-comment .icon-response-s-22{
	background-position: -183px -147px;
}
.response-rec .icon-response-s-22{
	background-position: -102px -160px;
}
.response-like .icon-response-s-22-a{
	background-position: -291px -135px;
}
.response-reshare .icon-response-s-22-a{
	background-position: -400px -155px;
}
.response-funny .icon-response-s-22-a{
	background-position: -75px -160px;
}
.response-comment .icon-response-s-22-a{
	background-position: -264px -146px;
}
.response-rec .icon-response-s-22-a{
	background-position: -237px -146px;
}
.response-more .icon-response-s-22{
	background-position: -210px -147px;
}
.comment-form-group .reply-button .icon-button-inner-s-24{
	background-position: -295px -6px;
}
.comment-form-group .recommend-button .icon-button-inner-s-24{
	background-position: -324px -5px;
}
.icon-location-f-s-19{
	background-position: -29px -57px;
}
.icon-need-f-s-19{
	background-position: -5px -67px;
}
.icon-pencil-w-s-38{
	background-position: -91px -116px;
}
caret{
	background-position: -150px -82px;
}
.open caret{
	background-position: -150px -82px;
}
.closed caret{
	background-position: -120px -82px;
}
.icon-list-w-s-20{
	background-position: -75px -81px;
}
.icon-search-s-24{
	background-position: -266px -5px;
}
.ticon.icon-needs-s-24{
	background-position: -412px -5px;
}
.active .ticon.icon-needs-s-24{
	background-position: -237px -6px;
}
.ticon.icon-place-s-24{
	background-position: -208px -6px;
}
.active .ticon.icon-place-s-24{
	background-position: -179px -5px;
}
.icon-cam-s-24{
	background-position: -150px -5px;
}
.icon-settings-s-20{
	background-position: -272px -83px;
}
.icon-newmesage-s-20{
	background-position: -320px -83px;
}
.icon-caret-l-s-20{
	background-position: -295px -82px;
}
.icon-flag-s-14{
	background-position: -438px -118px;
}
.icon-delete-s-14{
	background-position: -457px -118px;
}
.icon-attach-s-24{
	background-position: -121px -5px;
}
.icon-notify-like-s-16, .icon-like-a-s-16{
	background-position: -434px -57px;
}
.icon-notify-reshare-s-16, .icon-reshare-a-s-16{
	background-position: -471px -154px;
}
.icon-notify-funny-s-16, .icon-funny-a-s-16{
	background-position: -413px -57px;
}
.icon-notify-reply-s-16{
	background-position: -392px -57px;
}
.icon-notify-need-s-16{
	background-position: -371px -57px;
}
.icon-notify-recommend-s-16{
	background-position: -77px -57px;
}
.icon-notify-follow-s-16, .icon-follow-s-16{
	background-position: -350px -57px;
}
.icon-notify-review-s-16{
	background-position: -329px -57px;
}
.icon-notify-edit-s-16{
	background-position: -308px -57px;
}
.icon-message-l-w-s-25{
	background-position: -256px -117px;
}
.icon-location-w-s-25{
	background-position: -226px -117px;
}
.pfollow-button .flw-icon-20{
	background-position: -250px -81px;
}
.pfollow-button-a .flw-icon-20{
	background-position: -225px -82px;
}
.pfollow-button-a:hover .flw-icon-20, .pfollow-button-a:focus .flw-icon-20, .pfollow-button-a:active .flw-icon-20{
	background-position: -200px -81px;
}
.profile-rec .profile-rec-icon{background-position: -5px -159px;}
.profile-rec-a	.profile-rec-icon{background-position: -40px -159px;}
.icon-post-s-16{
	background-position: -224px -57px;
}
.icon-star-s-16{
	background-position: -203px -58px;
}
.icon-recommend-s-16{
	background-position: -182px -57px;
}
.icon-place-w-s-16{
	background-position: -140px -57px;
}
.icon-phone-w-s-16{
	background-position: -161px -57px;
}
.icon-web-w-s-16{
	background-position: -119px -57px;
}
@media (max-width: 1200px){
}
@media (max-width: 992px){
	.tnav .logo a{background-position: -155px -270px;}
	.icon-pencil-w-s-38{
	background-position: -126px -117px;
	}
	.icon-dropdown-th-w-s-22{
	background-position: -98px -57px;
	}
}

@media (max-width: 768px){

}

@media (max-width: 641px){
	.icon-pencil-w-s-38{
	background-position: -5px -34px;
	}
}

@media (max-width: 520px){
	.homesearch .logo a{width:125px; background-position: -308px -270px;}
}

@media (max-width: 454px){
	.tnav .logo a{background-position: -119px -270px;}
	.homesearch .logo a{width:125px; background-position: -308px -270px;}
}

@media (max-width: 360px){
	.mes-search-gp-button-icon.icon-search-s-24{
		background-position: -245px -35px;
	}
	.icon-dropdown-th-w-s-22{
		background-position: -500px -7px;
	}
	.icon-fbmatch-s-20{
		background-position: -419px -118px;
	}
	.icon-frecom-s-20{
		background-position: -476px -118px;
	}
	.icon-star-s-20{
		background-position: -324px -118px;
	}
	.icon-location-s-20{
		background-position: -305px -118px;
	}
	.icon-recommend-b-s-21{
		background-position: -77px -57px;
	}
	.icon-place-s-16{
		background-position: -495px -118px;
	}
	.icon-5-star-s-19{
		background-position: -436px -270px;
	}
	.icon-4-half-star-s-19{
		background-position: -6px -247px;
	}
	.icon-4-star-s-19{
		background-position: -95px -247px;
	}
	.icon-3-half-star-s-19{
		background-position: -180px -247px;
	}
	.icon-3-star-s-19{
		background-position: -265px -247px;
	}
	.icon-2-half-star-s-19{
		background-position: -350px -247px;
	}
	.icon-2-star-s-19{
		background-position: -435px -249px;
	}
	.icon-1-half-star-s-19{
		background-position: -6px -223px;
	}
	.icon-1-star-s-19{
		background-position: -435px -249px;
	}
	.icon-list-w-s-20{
		background-position: -176px -34px;
	}
	.follow-button .flw-icon-15{
		background-position: -466px -136px;
	}
	.follow-button-a .flw-icon-15{
		background-position: -448px -136px;
	}
	.follow-button-a:hover .flw-icon-15, .follow-button-a:focus .flw-icon-15, .follow-button-a:active .flw-icon-15{
		background-position: -431px -136px;
	}
	.comment-form-group .reply-button .icon-button-inner-s-24{
		background-position: -268px -35px;
	}
	.comment-form-group .recommend-button .icon-button-inner-s-24{
		background-position: -38px -35px;
	}
	.response-like .icon-response-s-22{
		background-position: -153px -34px;
	}
	.response-reshare .icon-response-s-22{
		background-position: -426px -155px;
	}
	.response-funny .icon-response-s-22{
		background-position: -107px -34px;
	}
	.response-comment .icon-response-s-22{
		background-position: -199px -35px;
	}
	.response-rec .icon-response-s-22{
		background-position: -84px -35px;
	}
	.response-like .icon-response-s-22-a{
		background-position: -222px -35px;
	}
	.response-reshare .icon-response-s-22-a{
		background-position: -448px -155px;
	}
	.response-funny .icon-response-s-22-a{
		background-position: -61px -35px;
	}
	.response-comment .icon-response-s-22-a{
		background-position: -291px -35px;
	}
	.response-rec .icon-response-s-22-a{
		background-position: -130px -34px;
	}
	.response-more .icon-response-s-22{
		background-position: -314px -34px;
	}
	.icon-location-f-s-19{
		background-position: -337px -36px;
	}
	.icon-need-f-s-19{
		background-position: -473px -35px;
	}
	.m-f-b.icon-cam-s-24{
		background-position: -382px -35px;
	}
	.m-f-b.icon-attach-s-24{
		background-position: -360px -34px;
	}
	.icon-message-l-w-s-25{
		background-position: -450px -35px;
	}
	.icon-location-w-s-25{
		background-position: -404px -35px;
	}
	.pfollow-button .flw-icon-20{
		background-position: -287px -57px;
	}
	.pfollow-button-a .flw-icon-20{
		background-position: -266px -58px;
	}
	.pfollow-button-a:hover .flw-icon-20, .pfollow-button-a:focus .flw-icon-20, .pfollow-button-a:active .flw-icon-20{
		background-position: -243px -57px;
	}
	.icon-star-l-w-s-20{
		background-position: -427px -34px;
	}
	.profile-rec .profile-rec-icon{background-position: -196px -117px;}
	.profile-rec-a	.profile-rec-icon{background-position: -166px -116px;}
	.ph-icon-inner.icon-like-a-s-16{
		background-position: -343px -117px;
	}
	.ph-icon-inner.icon-funny-a-s-16{
		background-position: -286px -117px;
	}
	.un-group-rec-icon.icon-recommend-b-s-19{
		background-position: -77px -57px;
	}
	.prl-icon .icon-place-w-s-16{
		background-position: -381px -116px;
	}
	.prl-icon .icon-phone-w-s-16{
		background-position: -400px -117px;
	}
	.prl-icon .icon-web-w-s-16{
		background-position: -362px -116px;
	}
}
@media (max-width: 280px){
	.tnav .logo a{background-position: -92px -270px;}
	.homesearch .logo a{width: 86px; background-position: -5px -271px;}
	.icon-search-s-24{
		background-position: -245px -35px;
	}
	.ticon.icon-needs-s-24{
		background-position: -25px -81px;
	}
	.active .ticon.icon-needs-s-24{
		background-position: -50px -82px;
	}
	.ticon.icon-place-s-24{
		background-position: -5px -92px;
	}
	.active .ticon.icon-place-s-24{
		background-position: -100px -82px;
	}
	.icon-5-star-s-15{
		background-position: -449px -316px;
	}
	.icon-4-half-star-s-15{
		background-position: -379px -316px;
	}
	.icon-4-star-s-15{
		background-position: -310px -316px;
	}
	.icon-3-half-star-s-15{
		background-position: -242px -316px;
	}
	.icon-3-star-s-15{
		background-position: -173px -316px;
	}
	.icon-2-half-star-s-15{
		background-position: -104px -316px;
	}
	.icon-2-star-s-15{
		background-position: -34px -316px;
	}
	.icon-1-half-star-s-15{
		background-position: -449px -291px;
	}
	.icon-1-star-s-15{
		background-position: -5px -299px;
	}
}